extends layout

block content
	div(class="chatContainer")
		
		
		div(id="loginBox")
			input(type="text", id="username", placeholder="username")
			input(type="button", id="joinButton" value="Join", disabled="true")
		div(id="chatContainer")
