extends layout

block content
	div(class="chatContainer")
		h2 Welcome to ChatApp
		ul("id=messages")
			- each message in messages
				li !{message.pretty()}
		input(id="messageInput", autocomplete="off")
		button(onClick="onSendClicked()") Send
