doctype html
html
  head
    title ChatApp
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='libs/socket.io-client/dist/socket.io.js')
    script(src='javascripts/app.js')
  body
    block content
