body 
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a 
{
  color: #00B7FF;
}

#loginBox {
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	background-color: white;
}

#loginBox input[type=text] {
	display: block;
	width: 300px;
	font-size: 2em;
	margin: 20px auto;
}

#loginBox input[type=button] {
	display: block;
	width: 300px;
	font-size: 2em;
	margin: 0 auto;
}